<div class="dashboard-wrap row-container" ng-init="init()" dashboard-resize>
    <div class="row">
        <!-- chart -->
        <div class="col-xs-7">
            <!-- <div class="col-xs-12">
                <nvd3 options='options' data='chartData'></nvd3>
            </div> -->
            <div class="col-xs-12">
                <div id="chart"><svg></svg></div>
            </div>
        </div>
        <!-- chart end -->
        <!-- tabel -->
        <div class="col-xs-5">
            <div class="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-exporter ui-grid-pagination></div>
            <!-- <div>
                Selection:
                <span ng-repeat="selecteRow in gridOptions.selectedRows">
                {{selecteRow.athlete}}
                </span>
                <input placeholder="Filter..." class="pull-right" type="text" ng-model="gridOptions.quickFilterText"/>
            </div>
            <div angular-grid="gridOptions" class="ag-fresh" style="height: 400px;"></div> -->
        </div>
        <!-- tabel end -->
    </div>
</div>